@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Quicksand:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;

}
body
{
  background: linear-gradient(#ffffff,#ffffff);
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 10px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  max-width: 8px;
}
header ul li a.active,
header ul li a:hover
{
  background: rgb(0, 0, 0);
  color: #ffffff;
}
section:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#ffffff,transparent);
  z-index: 1000;
}
section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon
{
  mix-blend-mode: screen;
  z-index: -3;
}
section img#mountains_front
{
  z-index: -2;
}
section img#mountains_behind
{
  z-index: -4;
}
section img#stars
{
  z-index: -5;
}
section img#background
{
  z-index: -8;
  opacity: 0.9;
}
section img#background2
{
  z-index: -8;
  opacity: 0.9;
}
h2#text
{
  position: absolute;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  font-size: 5vw;
  transform: translateY(0px);
  z-index: 1;
 font-family: 'Quicksand', sans-serif;
 

}
#btn
{
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
fill-opacity: 0.5;
  background: rgb(0, 0, 0);
  color: #ffffff;
  transform: translateY(150px);
  font-size: 1.5em;
  z-index: 9;
  font: bold;
}
.sec
{
  position: absolute;
  min-height: 500px;
  padding: 100px;
  background: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
.sec h2
{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif;
}
.sec p
{
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif;
}
h3#text20 
{
    position: absolute;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  font-size: 1vw;
  transform: translateY(0px);
  z-index: 0;
 font-family: 'Quicksand', sans-serif;
}
input[type=checkbox]{

display: none;
}
.burger{
  display: none;
  cursor: pointer;
  transform:translateX(65px)
   
  
}
.burger div{
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;
}
@media screen and (max-width: 1024px){
  .nav-links{
   width: 60%;
  }
}
  @media screen and (max-width: 678px){
    html, body{
      overflow-x: hidden;
      
    }
    .nav-links{
      position: absolute;
      right:0px;
      height: 92vh;
      top: 9vh;
      background-color:#ffffff;
      z-index: 100000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
     
    }
    .nav-links li{
      opacity: 0;
    }
    .burger{
      display: block;
    }
  }
nav{
  display: flex;
  justify-content:space-around;
  min-height: 8vh;
  justify-content: center;
  
}
.nav-links{
  display: flex;
  color: #0000; 
}

.nav-active{
  transform: translateX(0%);
  
}
@keyframes navLinkFade{
  from{
        opacity: 0;
        transform: translateX(50px);
  }
  to{
        opacity: 1;
        transform: translateX(0px);
  }
}
@media screen and (min-width: 1024px) {
  pp:before {
    content: "Canadian Student Society";
  }
}

@media screen and (max-width: 678px) {
  pp:before {
    content: "C S S";
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  ilikemen:before {
    content: "International Student Tutoring & Connections Organization";
    font-size:100%;
  }
}
@media screen and (max-width: 678px) {
  ilikemen:before {
    content: "";
    font-size: 300%;
  }
}
pp#textglow{
  color: rgb(0, 0, 0);
  text-shadow:0px 0px 30px rgb(151, 151, 151),30px 0px 10px #ffffff;
}
ilikemen#textglow{
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 100px rgb(117, 117, 117),0px 30px 30px rgb(120, 120, 120),0px 0px 30px rgb(103, 103, 103),30px 0px 10px #ffffff;
}
